body,div, h1, h2{
    margin: 0px;
    padding: 0px;
}

#body{
	padding-top: 48px;
}
#miniCalendar{
    background-color: #ffff00;
}
#logo{
	font-size: 30px;
	color: white;
}
#settings{
	background-color: #3A5795;
}
#header{
    background-color: #3A5795;
    border: none;
}
#calendar{
    background-color: orangered;
    height: 500px;
}
#create_task{
	background-color: orangered;
}
#today_choice{
	position: relative;
	left: 5em;
}
#main{
    background-color: orange;
    height: 500px;
}
#view{
    background-color: green;
    height: 400px;
}
#navigationPanel{
	padding-top: 5px;
	height: 30px;
}
.logo{
	display: inline ;
	padding-top: 8px;
}
.buttons{
	display: inline;
}